header {
  background-color: grey;
 
  padding: 20px;
}


body {
	flex-direction: column;
	display: flex;
	background-color: ECEAE9;
}
article {
	flex: 2;
	overflow-y: auto;

}
aside {
	flex: 1;
	overflow-y: auto;
}
main{
	display: flex;
	flex-direction: row;
	flex: auto;
}
h1 {
	color: blue;
}

footer {
  background-color: grey;
 
  padding: 20px;
}
